
body {
    background-image: url('G9Z7IOGB_Q[}UD{61Y[C67E.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1, p {
    background-color: transparent;
}
